{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="register-box">
    <h2>Создать аккаунт</h2>

    {% if form.errors %}
    <div class="errors">
        {{ form.errors }}
    </div>
    {% endif %}

    <form method="post">
    {% csrf_token %}

    <div class="input-group">
        <input type="text" name="username" required>
        <label>Username</label>
        <i class="fa fa-user"></i>
    </div>

    <div class="input-group">
        <input type="email" name="email" required>
        <label>Email</label>
        <i class="fa fa-envelope"></i>
    </div>

    <div class="input-group">
        <input type="password" name="password1" required>
        <label>Password</label>
        <i class="fa fa-lock"></i>
    </div>

    <div class="input-group">
        <input type="password" name="password2" required>
        <label>Repeat Password</label>
        <i class="fa fa-lock"></i>
    </div>

    <button type="submit" class="btn">Register</button>
</form>

    <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
</div>
{% endblock %}